<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IFluency</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

       <div style="text-align: center;" class="container">
              <h1>Encurtador de links</h1>
              <hr>
              <form action="{% url 'valida_link' %}" method="post">{% csrf_token %}
                     <table>
                            <label>Digite o link a ser encurtado: </label>
                            <br>
                            {{form.link_redirecionado}}

                            <br>
                            <label>Digite como gostaria do seu link:</label>
                            <br>
                            <label>ifluency.com/</label>
                            {{form.link_encurtado}}
                            <br>
                            {% if status == "1" %}
                            <p style="color: red;">Link digitado em uso</p>
                            {% endif %}
                            <input type="submit">
                     </table>

              </form>
       </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>